# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id

# NOWNodes BSC API Key
# Obtenir une clé sur https://nownodes.io/
VITE_NOWNODES_BSC_API_KEY=f0e2cae7-9489-4a73-93e8-1b1fde6d8e7c
